<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Enter Instagram Account</legend>

            <div class="form-group">
                <label for="inputInstagram" class="col-lg-2" control-label>Instagram Account</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputInstagram" placeholder="Instagram Account" />
                </div>
            </div>
        </fieldset>
    </form>

    <input type="submit" value="Search for People" onclick="location.href='#/searchResults'">
</div>