<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Enter Twitter Account</legend>

            <div class="form-group">
                <label for="inputTwitter" class="col-lg-2" control-label>Twitter Account</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputTwitter" placeholder="Twitter Account Handle" ng-model="person.TwitterAccount" />
                </div>
            </div>
        </fieldset>
    </form>

    <input type="submit" value="Search for People" onclick="location.href='#/searchResults'">
    <div id="results"></div>
</div>