<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Enter Facebook Account</legend>

            <div class="form-group">
                <label for="inputFacebook" class="col-lg-2" control-label>Facebook Account</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputFacebook" placeholder="Facebook Account" />
                </div>
            </div>
        </fieldset>
    </form>

    <input type="submit" value="Search for People" onclick="location.href='#/searchResults'">
</div>