<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Enter Email Details</legend>

            <div class="form-group">
                <label for="inputEmail" class="col-lg-2" control-label>Email Address</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="something@something.com" ng-model="person.Email" />
                </div>
            </div>
        </fieldset>
    </form>

    <input type="submit" value="Search for People" onclick="location.href='#/searchResults'">
</div>