<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Enter Person Details</legend>
            
            <div class="form-group">
                <label for="inputFirstName" class="col-lg-2" control-label>First Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputLastName" class="col-lg-2" control-label>Last Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2" control-label>Email Address</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="something@something.com" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputDOB" class="col-lg-2" control-label>Date of Birth</label>
                <div class="col-lg-10">
                    <input type="date" class="form-control" id="inputDOB" value="2000-01-01" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputPlaceOfBirth" class="col-lg-2" control-label>Town / City of Birth</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputPlaceOfBirth" placeholder="Location" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputCurrentCity" class="col-lg-2" control-label>Current Town / City</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputCurrentCity" placeholder="Location" />
                </div>
            </div>
        </fieldset>
    </form>
    
    {{message}}
</div>