<div class="container">
    <form class="form-horizontal">
        <fieldset>
            <legend>Enter Person Details</legend>
            
            <div class="form-group">
                <label for="inputName" class="col-lg-2" control-label>Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Name" ng-model="person.Name" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputNickname" class="col-lg-2" control-label>Nickname</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputNickname" placeholder="Nickname" ng-model="person.Nickname" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputDOB" class="col-lg-2" control-label>Date of Birth</label>
                <div class="col-lg-10">
                    <input type="date" class="form-control" id="inputDOB" ng-model="person.DateOfBirth" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputGender" class="col-lg-2" control-label>Gender</label>
                <div class="col-lg-10">
                    <select id="inputGender" ng-model="person.Gender">
                        <option value="Unknown" selected>Unknown</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputPlaceOfBirth" class="col-lg-2" control-label>Town / City of Birth</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputPlaceOfBirth" placeholder="Location" ng-model="person.HomeTown" />
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputCurrentCity" class="col-lg-2" control-label>Current Town / City</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputCurrentCity" placeholder="Location" ng-model="person.CurrentTown" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputOccupation" class="col-lg-2" control-label>Ocupation</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputOccupation" placeholder="Occupation" ng-model="person.Occupation" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputReligion" class="col-lg-2" control-label>Religion</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputReligion" placeholder="Religion" ng-model="person.Religion" />
                </div>
            </div>

            <input type="submit" value="Search for People" onclick="location.href='#/searchResults'">
            <input type="reset">
        </fieldset>
    </form>
    
    {{message}}
</div>